  /* .app-container {
    width: 540px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
 */

 /* Container.css */
.app-container {
  width: 540px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
