/* DataTable.css */

.table-container {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  padding: 8px;
  text-align: center;
}

.data-table thead {
  background-color: #3983FD;
  color: white;
}

.data-table th {
  font-weight: 550;
}

.data-table tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.data-table tbody tr:hover {
  background-color: #f1f1f1;
}

.product-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.svg-container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.action-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn svg path,
.delete-btn svg path {
  transition: fill 0.3s ease;
}

.edit-btn:hover svg path {
  fill: rgb(154, 95, 23);
}

.delete-btn:hover svg path {
  fill: rgb(142, 4, 4); /* Darker shade of red */
}

.editable-input {
  border: 2px solid #4CAF50;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.save-btn svg path {
  fill: #4CAF50;
}

.save-btn:hover svg path {
  fill: #388E3C;
}