.home-container {
    display: flex;
    flex-direction: column;
    height: 171%;
}

.content {
    flex: 1; /* Allow the content to grow and take available space */
    overflow-y: auto; /* Enable scrolling if content overflows */
}
